body{ 
  background: linear-gradient(rgb(231, 231, 231), #2da58b94);
  background-repeat: no-repeat;
}

#mainDiv{
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  text-align: center;
}
button{
  margin-left: 15px;
  margin-top: 25px;
  font-weight: bold;
  font-size: large;
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 25%;
  height: 120px;
  color: rgb(5, 42, 42);
  background: linear-gradient(rgb(231, 231, 231), #0a3f33);
  background-repeat: no-repeat;
  border: none;
  border-radius: 30%;
}
button:hover{
  background: rgba(9, 90, 72, 0.678);
  color: #e4dada;
}
.pat{
  display: inline;
}
